*
{
  font-family: sans-serif;
  font-size: medium;
}

div.instance
{
  clear: both;
}

div.text
{
  width: 25%;
  padding: 16px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

img
{
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

h3
{
  font-family: monospace;
}

span.unk
{
  text-decoration: underline;
}
